@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-white-primary: #fff;
  --color-black-primary: #191919;
  --color-black-secondary: #1e1e1e;
  --color-gray-primary: #d9dde2;
  --color-dark-gray-primary: #4d4e51;
  --color-blue-primary: #3b82f6;
  --color-purple-primary: #8b5cf6;

  --color-theme-primary: var(--color-white-primary);
  --color-opposite-primary: #191919;
  --color-text-primary: #000;

  --color-border-primary: var(--color-gray-primary);
  --color-accent-primary: var(--color-purple-primary);
  --color-shadow-primary: var(--color-gray-primary);
  --color-skeleton-primary: #e5e5e5;

  --size-max-contents-width: 120rem;
  --size-header-height: 3.75rem;
  --size-left-sidebar-width: 12.5rem;
  --size-page-frame-padding-x: 1rem;
  --size-page-frame-padding-y: 2rem;
}

.dark {
  --color-theme-primary: var(--color-black-primary);
  --color-opposite-primary: var(--color-white-primary);
  --color-text-primary: var(--color-white-primary);
  --color-border-primary: var(--color-dark-gray-primary);
  --color-shadow-primary: var(--color-dark-gray-primary);
  --color-skeleton-primary: #262626;
}

@theme {
  --color-white-primary: var(--color-white-primary);
  --color-black-primary: var(--color-black-primary);
  --color-black-secondary: var(--color-black-secondary);
  --color-gray-primary: var(--color-gray-primary);
  --color-dark-gray-primary: var(--color-dark-gray-primary);
  --color-blue-primary: var(--color-blue-primary);
  --color-purple-primary: var(--color-purple-primary);

  --color-theme-primary: var(--color-theme-primary);
  --color-opposite-theme-primary: var(--color-opposite-primary);

  --color-border-primary: var(--color-border-primary);
  --color-accent-primary: var(--color-accent-primary);

  --breakpoint-sm: 30em; /*  480px */
}

@layer base {
  html {
    color: var(--color-text-primary);
  }

  body {
    @apply w-dvw min-h-dvh overscroll-none bg-theme-primary;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .pt-page-frame-with-header-height {
    padding-top: calc(var(--size-header-height) + var(--size-page-frame-padding-y));
  }

  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .shadow-primary {
    box-shadow: 0 0 15px 1px var(--color-shadow-primary);
  }

  .shadow-secondary {
    box-shadow: 0 0 8px 1px var(--color-shadow-primary);
  }
}

@layer components {
  .form-input-layout {
    @apply border px-3 py-2 rounded-md;
  }
}
